/*GLOBAL RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: #000;
}

/* Début du code */
body{
	font-family: calibri;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 15px;
	background: rgb(151, 32, 151);
	color: #fff;
}
header h1{
	font-size: 35px;
	font-weight: 700;
}
header nav ul{
	display: flex;
}
header nav ul li:not(:last-child){
	margin-right: 20px;
}
header nav ul li a{
	font-size: 25px;
	font-weight: 600;
	color: inherit;
}
header nav ul li a:hover{
	color: rgb(247, 170, 247);
}

/* page accueil */
main .general{
	background: url("./images/ecole.JPG");
	/* background-repeat: no-repeat; */
	background-size: cover;
	/* object-position: center; */
	width: 100%;
	height: 88vh;
}
main .general h2{
	width: 60%;
	line-height: 55px;
	text-align: center;
	padding-top: 300px;
	font-size: 50px;
	margin: auto;
	color: #fff;
	font-weight: 600;
}

/* page classes */
main#classes{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main#classes h1{
	font-size: 35px;
	font-weight: 600;
	margin: 50px 0;
}
main#classes .cards{
	width: 70%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: center;
	margin-bottom: 50px;

}
main#classes .cards .card{
	width: 600px;
	overflow: hidden;
	padding: 15px;
	/* border: 2px solid grey; */
	box-shadow: 10px 10px 10px #999;

}
main#classes .cards .card img{
	object-fit: cover;
	width: 100%;
}
main#classes .cards .card h2{
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	margin-top: 15px;
}


/* page enseignants */

main#enseignants{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main#enseignants h1{
	font-size: 35px;
	font-weight: 600;
	margin: 50px 0;
}
main#enseignants .cards{
	width: 50%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: center;
	margin-bottom: 50px;

}
main#enseignants .cards .card{
	width: 400px;
	overflow: hidden;
	padding: 15px;
	/* border: 2px solid grey; */
	box-shadow: 10px 10px 10px #999;

}
main#enseignants .cards .card img{
	object-fit: cover;
	width: 100%;
}
main#enseignants .cards .card h2{
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	margin-top: 15px;
}


/* Page contact */
main{
	/* position: relative; */
}
main section#contact{
	border: 3px solid #999;
	width: fit-content;
	padding: 100px;
	margin: 110px auto;
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	text-align: center;
}
main section#contact h1{
	margin: 0 auto 35px auto;
	font-size: 26px;
	font-weight: 600;
	text-align: center;
}
main section#contact form{
	display: flex;
	flex-direction: column;
}
main section#contact form div{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
main section#contact form div label{
	font-size: 20px;

}
main section#contact form div input, textarea{
	width: 200px;
	margin-left: 20px;
	outline: none;
	font-family: Calibri;
}
main section#contact button{
	font-size: 16px;
	font-weight: 600;
	padding: 5px 15px;
	margin: auto;
}



/* footer */
footer{
	background: rgb(151, 32, 151);
	/* position: absolute;
	bottom: 0; */
	width: 100%;
	padding: 15px 0;
}
footer .contenu{
	width: 30%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}
footer .contenu .liens{
	display: flex;
	flex-direction: column;
}
footer .contenu .liens a{
	color: #fff;
	line-height: 25px;
}
footer .contenu .coordronnees{
	display: flex;
	align-items: center;
}
footer .contenu .coordronnees i{
	margin-right: 20px;
	color: #fff;
	font-size: 45px;
}
footer .contenu .coordronnees a{
	color: #fff;
	line-height: 25px;
}



@media screen and (max-width: 768px){
	header{
		flex-direction: row-reverse;
	}
	header h1{
		font-size: 22px;
	}
	header nav ul{
		flex-direction: column;
	}
	header nav ul li a{
		font-size: 18px;
		line-height: 22px;
	}


	/* page accueil */
	main .general{
		background-position: center;
		background-position-y: -190px;
		height: 84vh;
		
	}
	main .general h2{
		font-size: 25px;
		width: 95%;
		padding-top: 40px;
	}


	/* page classes */
	main#classes .cards{
		width: 95%;
	}


	/* page enseignants */
	main#enseignants .cards{
		width: 95%;
	}



	/* page contact */
	main section#contact{
		border: none;
		width: 95%;
		/* position: initial;
		transform: translate(0); */
		margin: 67px auto;
		padding: 0;
		/* top: 40%; */
	}

	/* footer */
	footer{
		padding: 15px 0;
		/* position: unset; */
	}
	footer .contenu{
		flex-direction: column;
		width: 95%;
	}
	footer .contenu .liens{
		margin-bottom: 25px;
		align-self: flex-start;
	}
	footer .contenu .coordronnees{
		align-self: flex-end;
	}
}